<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CommentsScaleFactor</key>
	<real>1</real>
	<key>CommentsUseTextScale</key>
	<true/>
	<key>NotesScaleFactor</key>
	<real>1.5</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>9C26F96F-54A9-464D-AF28-D2DEDF22F39E</key>
		<dict>
			<key>BinderUUID</key>
			<string>9C26F96F-54A9-464D-AF28-D2DEDF22F39E</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>440</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1.5</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>518 6 440 834 0 0 1512 944 </string>
		</dict>
		<key>A5FFF324-17F2-475B-BDC6-3DB8037AE2F4</key>
		<dict>
			<key>BinderUUID</key>
			<string>A5FFF324-17F2-475B-BDC6-3DB8037AE2F4</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>440</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1.5</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>518 6 440 834 0 0 1512 944 </string>
		</dict>
	</dict>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 869}}</string>
		<string>{{266, 0}, {1246, 869}}</string>
	</array>
	<key>binderWidth</key>
	<real>265</real>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>0710C1B0-F154-463E-9FE6-6A8AEC957263</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>10909EFD-BC63-406C-B7F7-EDC50BFF0346</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>133FB5FF-F02C-4AAD-B8C4-281DD16B22E2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>19C7886A-A746-4B6A-867B-1AEED829282C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1BA549F8-1D7E-4644-BDA3-AC12E6517533</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>223680ED-25AC-47BD-A2F9-83CDFF50A52F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>23F758E5-C040-474F-8214-2C3780F0B8C3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>25173F66-90E0-4333-8DBF-DC13F5A7A293</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>27CE6E18-06EA-44B9-8A07-1A162F9D9447</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>27D9F387-BE43-4FC1-81D9-B6834FB5C4A7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3807ACD9-23DB-47B5-8B02-7A85A0B302D5</key>
		<dict>
			<key>DocID</key>
			<string>603E56E9-F6F6-403A-A807-49EF03D7C94E</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>3CA2AF68-BD53-4FFD-B040-3612A60776C0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>425513E9-F5DE-4C26-B09B-283EE3543AD4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4722F866-5033-4D46-AD25-FCC4D76FBD44</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5EF6705D-2D7D-43DF-86B2-001B05730A67</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5FA94F10-8408-4920-84BE-B1CB5AF7224E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>603E56E9-F6F6-403A-A807-49EF03D7C94E</key>
		<dict>
			<key>DocID</key>
			<string>25173F66-90E0-4333-8DBF-DC13F5A7A293</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>67EC54CD-CFAB-4AEA-8E7E-CB71BCF7A5F5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>689954AA-703E-4D29-BC18-7B0C699A7632</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6F4AB75F-70BA-4C2E-A4B2-1D09842CCD2F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7BA05447-CB18-498C-B4A3-FEAF64C0C519</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>854CFF5C-BB7E-4364-88F4-5FD7A5D361CD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>86CD62F7-B403-41F6-8921-41F1830EE9CC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>887320FA-C507-4379-B259-5D1665BED088</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>978B3B00-3BD4-4BEE-A1E5-A5384969C740</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9C26F96F-54A9-464D-AF28-D2DEDF22F39E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9E3C6085-D390-4C6E-8300-BA7952BAE6CE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A2A2DC34-13BE-4FE8-BF05-C38B3126626C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A42E0504-7F7A-40C6-8FEB-BBEF6C3BEEE1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A5FFF324-17F2-475B-BDC6-3DB8037AE2F4</key>
		<dict>
			<key>DocID</key>
			<string>ED995A80-8F90-49F6-A1E1-AE230073DA0E</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>A674F8E0-67D0-46BD-901F-CB8115280B63</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A75972F1-5A68-436F-83E8-897AEBEFC22F</key>
		<dict>
			<key>DocID</key>
			<string>5EF6705D-2D7D-43DF-86B2-001B05730A67</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>ADD9FD7E-F46B-47FB-B0D2-B4B9720D549C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B0E78C04-C80E-4129-AC2C-B8FF86FB6A84</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BFB446A6-BF58-4D89-B84F-B408FB2A7D87</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C84B823C-6F1F-4550-86D3-135414154C80</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C87AACF1-CC09-430E-91FA-A52A0E29D7F9</key>
		<dict>
			<key>DocID</key>
			<string>A42E0504-7F7A-40C6-8FEB-BBEF6C3BEEE1</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>CA42BF17-66F9-4DE9-B451-2A0EAE0A2547</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CF2E34A8-15A5-4338-8A4A-C5A96612ED06</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CF46AAD6-5CF5-4633-8342-DD7AC472664E</key>
		<dict>
			<key>DocID</key>
			<string>C87AACF1-CC09-430E-91FA-A52A0E29D7F9</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>D598E946-B353-4620-96B4-4F0CE130DCC7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E6B44035-8F11-4ED9-966F-9F66915CFCC1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E7302EAC-6690-4B95-B795-0663733EF46E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EACE0868-F742-4D6E-95B9-981011B29E5D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ED995A80-8F90-49F6-A1E1-AE230073DA0E</key>
		<dict>
			<key>DocID</key>
			<string>A5FFF324-17F2-475B-BDC6-3DB8037AE2F4</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>F254518B-4AFC-41D3-8916-565C6F426E40</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FA238A85-2CCF-40E9-9520-A444888B2B37</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FDC33773-6E86-4A42-89DF-9C0EA6F75F57</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{623, 0}, {623, 839}}</string>
	</array>
	<key>fullScreenBackgroundFade</key>
	<real>1</real>
	<key>fullScreenHorizontalPaperPosition</key>
	<integer>2</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenPaperHeight</key>
	<integer>-1</integer>
	<key>fullScreenPaperWidth</key>
	<integer>1115</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>fullScreenVerticalPaperPosition</key>
	<integer>2</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {302, 859}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{-105.33333333333333, 0}, {830.66666666666663, 522}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>0 47 1512 897 0 0 1512 944 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{-1, 0}, {621, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
